@charset "UTF-8";

html {
    font-size: 62.5%;
}
body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    color: #d03c56;
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 28px 0 10px;
    background: url('../images/bg-header.gif') repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
}
.logo {
    width: 225px;
    height: 56px;
    margin: 0 auto;
    background: url('../images/logo.png') no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.global-nav {
    margin: 15px 0 0;
    text-align: center;
}
.global-nav .nav-item {
    display: inline-block;
    margin: 0 10px;
}
.global-nav .nav-item a {
    display: inline-block;
    width: 100px;
    height: 30px;

    line-height: 30px;
    border-radius: 8px;
    letter-spacing: 1px;

    color: #666;
    font-size: 1.3rem;

    transition: 0.15s;
}
.global-nav .active a,
.global-nav .nav-item a:hover
{
    color: #fff;
    background-color: #d03c56;
}
.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}
.main {
    display: block;
    float: left;
    width: 660px;
}

.hot-topic {
    display: block;
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}
.hot-topic:hover {
    opacity: 0.85;
}
.hot-topic .image {
    float: left;
    width: 50%;
    height: 100%;
}
.hot-topic .content {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    padding: 105px 25px 0;
    background-color: #2d3d54;
    line-height: 1.6;
}
.hot-topic .title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
}
.hot-topic .desc {
    color: #ddc;
}
.hot-topic .date {
    position: absolute;
    top: 60px;
    left: 0;

    width: 140px;
    padding: 4px;
    background-color: #fff;
    color: #2d3d54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1;
}


.heading {
    padding: 10px 12px;
    background: url('../images/bg-slash.gif');
    letter-spacing: 1px;
    font-size: 1.6rem;
}
.scroll-list {
    margin-bottom: 30px;
    list-style-type: none;

    max-height: 220px;
    overflow-y: auto;
}
.scroll-list .scroll-item a {
    display: block;
    padding: 10px 15px;
    color: #333;
    transition: background-color 0.1s;
    font-size: 0;
}
.scroll-list .scroll-item:nth-of-type(even) a {
    background: url('../images/bg-slash.gif');
}
.scroll-list .scroll-item a:hover {
    background-color: #fafaf8;
}
.scroll-list .date {
    display: inline-block;
    width: 19%;
    font-size: 1rem;

    font-weight: bold;
    letter-spacing: 1px;
}
.scroll-list .category {
    display: inline-block;
    width: 8%;
    font-size: 1rem;

    border-radius: 5px;
    background-color: #d03c56;
    color: #fff;
    text-align: center;
    line-height:1.5;
    letter-spacing:1px;
}
.scroll-list .title {
    display: inline-block;
    width: 73%;
    padding-left: 15px;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.article-box {
    display: block;
    width: 315px;
    height:360px;
    margin-bottom: 30px;

    position: relative;
    padding: 210px 15px 0;
    box-shadow: opacity 0.15s;
}
.article-box:hover {
    opacity: 0.8;
}
.article-box:nth-of-type(odd) {
    float: left;
}
.article-box:nth-of-type(even) {
    float: right;
}
.article-box .title {
    margin-top: 30px;
    color: #555;
    font-size: 1.4rem;
    line-height: 1.6;
}
.article-box .desc {
    margin-top: 5px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.article-box .date {
    position: absolute;
    right: 0;
    bottom: 15px;

    display:block;
    width: 160px;
    padding: 4px;
    background-color: #b5d264;
    
    color: #2d3d54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
}
.article-box .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sidemenu {
    float: right;
    width: 275px;
}

.ranking {
    margin-bottom: 30px;
    list-style-type: none;
    counter-reset: ranking;
}
.ranking .ranking-item {
    margin-top: 15px;
}
.ranking .ranking-item a {
    display: block;
    transition: opacity 0.15s;
    font-size: 0;
}
.ranking .image {
    width: 55px;
    height: 55px;
}
.ranking .text {
    display: inline-block;
    width: 182px;
    vertical-align: top;
    color: #000;
    line-height: 1.5;
    font-size: 1.2rem;
}
.ranking .order {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;

    border: 1px solid #ccc;
    color: #aaa;
    vertical-align: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 16px;
    border-radius: 50%;
}
.ranking .ranking-item:nth-of-type(1) .order,
.ranking .ranking-item:nth-of-type(2) .order,
.ranking .ranking-item:nth-of-type(3) .order {
    border: none;
    color: #fff;
    font-weight: normal;
    line-height: 18px;
}
.ranking .ranking-item:nth-of-type(1) .order {
    background-color: #dab413;
}
.ranking .ranking-item:nth-of-type(2) .order {
    background-color: #637b84;
}
.ranking .ranking-item:nth-of-type(3) .order {
    background-color: #a0541a;
}
.ranking .order::before {
    content: counter(ranking);
    counter-increment: ranking;
    display: inline-block;
    font-size: 1rem;
}

.documents {
    list-style-type: none;
    margin: 10px 10px 30px;
}
.documents > li .title {
    border-left: 5px solid #d03c56;
    padding-left: 8px;
    margin: 15px 0;
    font-size: 1.4rem;
}
.documents > li + li {
    margin-top: 25px;
}
.documents > li ul {
    list-style-type: none;
    margin: 15px;
}
.documents > li ul > li {
    background: url('../images/arrow.gif') no-repeat left center;
    margin: 15px;
    padding-left: 10px;
}
.documents a:hover {
    text-decoration: underline;
}

.search-box {
    padding: 15px;
    background-color: #ccc;
    font-size: 0;
}
.search-box > * {
    font-size: 1.2rem;
}
.search-box .search-input {
    height: 26px;
    width: 205px;
    padding: 0 10px;
    border: none;
}
.search-box .search-button {
    background-color: #d03c56;
    color: #ffffff;
    border: none;
    height: 26px;
    width: 40px;
    cursor: pointer;
}
.search-box .text {
    margin-top: 12px;
}

.footer {
    width: 100%;
    height: 110px;
    background-color: #2d3d54;
    padding: 20px 0 30px;
}
.footer .horizontal-list {
    list-style-type: none;
    text-align: right;

    width: 970px;
    margin: 0 auto;
}
.footer .horizontal-item {
    display: inline-block;
    padding: 0 15px;
    letter-spacing: 1px;
}
.horizontal-list .horizontal-item + .horizontal-item {
    border-left: 1px solid #bbb;
}
.footer .horizontal-item a {
    color: #aaaaaa;
    border-bottom: dotted 1px;
    font-size: 1.1rem;
}
.footer .copyright {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 1px;
}

.clearfix::after {
    content: '';
    display:block;
    clear: both;
}
.hidden {
    display: none;
}
.header, .main, .sidemenu, .footer {
    /*border: 1px solid #aaa;*/
    /*background-color: #ccc;*/
}
/*.header, .footer {*/
    /*height: 100px;*/
/*}*/
.main, .sidemenu {
    /*height: 500px;*/
}
